.projects {
  margin: 50px 0;
}

.projects h2,
.projects p {
  text-align: center;
}

.projects .tab-box:nth-child(2) {
  border: 1px solid #b8b8b8;
}
.projects .project-box {
  margin: 20px 0;
}

.tabs-bar .tab-box.active::before {
  width: 100% !important;
}

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-box {
  width: 320px;
  height: 200px;
  min-width: 320px;
  border-radius: 17px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  transition: 1s ease-in-out all;
}

.project-box img.filter {
  filter: blur(4.79px) contrast(0.51) grayscale(0.63);
  -webkit-filter: blur(4.79px) contrast(0.51) grayscale(0.63);
  -moz-filter: blur(4.79px) contrast(0.51) grayscale(0.63);
}
.project-box .img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-position: center;
  object-fit: cover;
}

.project-box .project-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  transition-delay: 0.5s;
  transition: 1s ease-in-out all;
  opacity: 0;
}
.project-box:hover .project-text {
  opacity: 1;
  z-index: 2;
  color: white;
}
