.contact {
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  padding: 50px 0;
}
.contact .row > * {
  padding-right: 0;
}
.contact .row {
  margin-right: 0;
}
.contact h2 {
  font-size: 42px;
}
.contact .right {
  padding: 15px 0;
  border-radius: 5px;
}
.contact .right input,
textarea {
  margin-bottom: 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 17px 11px;
  border-radius: 18px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact .right input:focus,
.contact textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact button {
  padding: 8px 41px;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 800;
}
.contact-image {
  width: 100%;
}
.success {
  background-color: green;
}
.danger {
  background-color: red;
}
/* footer*/
.align-item-center {
  align-items: center;
  justify-content: center;
}
footer {
  padding: 50px 0;
  background-image: url("../../assets//img/footer-bg.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer img {
  width: 26%;
  font-weight: 700;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.fix-icon a img {
  transform: translate(1px, -10px);
}
